@font-face {
  font-family: 'Biro Script';
  src: url('./static/BiroScriptUSPlus-Regular.ttf') format('truetype');
  font-display: swap;
}

.content-meta {
  margin-top: 0;
  color: var(--darkgray);
  font-family: 'Biro Script', cursive;
  font-weight: normal;

  &[show-comma="true"] {
    > *:not(:last-child) {
      margin-right: 8px;

      &::after {
        content: ",";
      }
    }
  }
}
